.our-section {
    .title {
        display: block;
        background-color: #f2f7f4;
        padding: 8px 16px;
        border-top: 2px solid #e8eae9;
        border-bottom: 2px solid #e8eae9;
        margin: 0px;
        font-size: 1.1rem;
        color: #37a467;
        margin-bottom: 8px;
    }
}
